<!doctype html>
<html dir="ltr" lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <script src="/static/jquery-1.8.1.min.js" type="text/javascript"></script>
        <script src="/static/app.js" type="text/javascript"></script>
        <link type="text/css" rel="stylesheet" href="/static/app.css" />
    </head>
    <body>
        <div class="wrapper">
           <section class="feed">
               <ul>
                   {% for feed_item in feed_items %}
                       <li>
                           <a href="{{ feed_item['url'] }}">
                               <h2>
                                   {{ feed_item['title'] }} &#149; <u>({{ feed_item['domain'] }})</u> &#149; {{ feed_item['source_date'] }}
                               </h2>
                           </a>
                           <a href="{{ feed_item['photo_link'] }}">
                               <img class="thumbnail" src="{{ feed_item['photo_link'] }}" />
                           </a>
                           <p class="excerpt"> 
                               {{ feed_item['excerpt'] }}
                           </p>  
                       </li>
                   {% endfor %}
               </ul>
           </section>
        </div>
    </body>
</html>
